<html>
	<head>
		<title>Simple form</title>
	</head>
	<body>
		<div class='form'>
			<form method='POST' action=''>
				{{ form.hidden_tag() }}
				{{ form.first_name.label }} {{ form.first_name }}
				<br>
				{{ form.last_name.label }} {{ form.last_name }}
				<br>
				{{ form.age.label }} {{ form.age }}
                                <br>
				{{ form.favourite_colour.label }} {{ form.favourite_colour }}
				<br>
				{{ form.date.label }} {{ form.date }}
                                <br>
				{{ form.price_of_your_shoes.label }} {{ form.price_of_your_shoes }}
                            	<br>
				{{ form.submit }}
			{{ message }}
			</form>
		</div>
	</body>
</html>
